<div class="container">

  <div class="addUser">
    <button mat-icon-button><img src="assets/heart_plus_FILL0_wght400_GRAD0_opsz48.svg" > </button>
    <button mat-icon-button><img src="assets/pending_actions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
    <button mat-icon-button><img src="assets/prescriptions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
    <button mat-icon-button><img src="assets/edit_FILL0_wght400_GRAD0_opsz48.svg"></button>
    <button mat-icon-button><mat-icon>person_add</mat-icon></button>
  </div>

  <div class="card">

    <p style="font-family: Bahnschrift, serif;color: gray;padding-left: 0.1rem">Linked Accounts</p>
    <mat-divider></mat-divider>

    <mat-card>
      <div class="card-content-between">
        <div>
          <mat-card-title>Patient Name</mat-card-title>
          <mat-card-subtitle>Relation</mat-card-subtitle>
        </div>

        <button mat-button [matMenuTriggerFor]="beforeMenu">  <mat-icon>more_vert</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

          <button mat-icon-button><img src="assets/heart_plus_FILL0_wght400_GRAD0_opsz48.svg" > </button>
          <button mat-icon-button><img src="assets/pending_actions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/prescriptions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/edit_FILL0_wght400_GRAD0_opsz48.svg"></button>
          <button mat-icon-button><mat-icon>info</mat-icon> </button>

        </mat-menu>
      </div>
      <mat-card-content>
        <div class="card-content">
          <p>23</p>
          <p>8547516601</p>
          <p>Total Bookings : 10</p>
        </div>
      </mat-card-content>

    </mat-card>

<!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <mat-card>
      <div class="card-content-between">
        <div>
          <mat-card-title>Patient Name</mat-card-title>
          <mat-card-subtitle>Relation</mat-card-subtitle>
        </div>

        <button mat-button [matMenuTriggerFor]="beforeMenu">  <mat-icon>more_vert</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

          <button mat-icon-button><img src="assets/heart_plus_FILL0_wght400_GRAD0_opsz48.svg" > </button>
          <button mat-icon-button><img src="assets/pending_actions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/prescriptions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/edit_FILL0_wght400_GRAD0_opsz48.svg"></button>
          <button mat-icon-button><mat-icon>info</mat-icon> </button>

        </mat-menu>
      </div>
      <mat-card-content>
        <div class="card-content">
          <p>23</p>
          <p>8547516601</p>
          <p>Total Bookings : 10</p>
        </div>
      </mat-card-content>

    </mat-card>

    <!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <mat-card>
      <div class="card-content-between">
        <div>
          <mat-card-title>Patient Name</mat-card-title>
          <mat-card-subtitle>Relation</mat-card-subtitle>
        </div>

        <button mat-button [matMenuTriggerFor]="beforeMenu">  <mat-icon>more_vert</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

          <button mat-icon-button><img src="assets/heart_plus_FILL0_wght400_GRAD0_opsz48.svg" > </button>
          <button mat-icon-button><img src="assets/pending_actions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/prescriptions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/edit_FILL0_wght400_GRAD0_opsz48.svg"></button>
          <button mat-icon-button><mat-icon>info</mat-icon> </button>

        </mat-menu>
      </div>
      <mat-card-content>
        <div class="card-content">
          <p>23</p>
          <p>8547516601</p>
          <p>Total Bookings : 10</p>
        </div>
      </mat-card-content>

    </mat-card>

    <!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <mat-card>
      <div class="card-content-between">
        <div>
          <mat-card-title>Patient Name</mat-card-title>
          <mat-card-subtitle>Relation</mat-card-subtitle>
        </div>

        <button mat-button [matMenuTriggerFor]="beforeMenu">  <mat-icon>more_vert</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

          <button mat-icon-button><img src="assets/heart_plus_FILL0_wght400_GRAD0_opsz48.svg" > </button>
          <button mat-icon-button><img src="assets/pending_actions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/prescriptions_FILL0_wght400_GRAD0_opsz48.svg" ></button>
          <button mat-icon-button><img src="assets/edit_FILL0_wght400_GRAD0_opsz48.svg"></button>
          <button mat-icon-button><mat-icon>info</mat-icon> </button>

        </mat-menu>
      </div>
      <mat-card-content>
        <div class="card-content">
          <p>23</p>
          <p>8547516601</p>
          <p>Total Bookings : 10</p>
        </div>
      </mat-card-content>

    </mat-card>

  </div>








</div>
