.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.grid {
  display: grid;
  width: 25%;
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    width: 70%;
  }
}

mat-label {
  font-family: monospace;
}

.my {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: rgb(13, 238, 163);
}

.rightalign {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

.logo {
  display: flex;
  justify-content: center;
}
